language: python
python:
  - "3.4.3"
cache: pip
services:
  - xvfb
addons:
  chrome: stable
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
install:
  - pip install nose
  - pip install behave selenium webdriver_manager pyvirtualdisplay
script:
  - cd $TRAVIS_BUILD_DIR/code/tdd && nosetests
  - cd $TRAVIS_BUILD_DIR/code/bdd && behave --tags=run